<div class="top_userpage">
    <div class="container">
        <%= link_to 'マイページ', '#' %>
        <h2><%= @user.name %></h2>
        <div class="top_userpage_symbol">
            <h1 class="top_userpage_symbol_title">称号</h1>
            <div class="top_userpage_symbol_img">
                
            </div>
        </div>
        <%= link_to '問題！', '#' %>
        <%= link_to 'ランキング', '#' %>
    </div>
</div>
