<div class="container">
    <h2><%= @question.content %></h2>

<p>
  уБВуБкуБЯуБохЫЮчнФуБп 
  <% if @correct %>
    <strong>цнгшзгя╝БЁЯОЙ</strong>
  <% else %>
    <strong>ф╕Нцнгшзг...ЁЯШв</strong>
  <% end %>
</p>

<p>шзгшкмя╝Ъ<%= @question.explanation %></p>

<%= link_to "цмбуБохХПщбМуБ╕", quiz_path %>
</div>